@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container {
  @apply flex w-full flex-col items-center;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/KimjungchulGothic-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.object-hover {
  @apply transition-all duration-500;
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-height: none; /* Firefox */
}

.gradiant-yellow-ornage{
  @apply bg-clip-text text-transparent bg-gradient-to-r from-orange to-yellow
}

